<div>
  <div class="featured-item-title">
      <%= link_to [main_app, featured] do %>
        <%= render_thumbnail_tag(featured, {width: 400, alt: "#{featured.title.first.to_s}" }, {suppress_link: true}) %>

      <% end %>
  </div>
</div>
<div class="clearfloat">
  <h4> <%= featured.title.first %> </h4>
</div>