<div class="col-xs-12 col-sm-6">
  <% #render partial: 'catalog/facets' %>
  <%= render 'catalog/collection_navbar' %>
</div>

<div class="col-xs-12 col-sm-6">
  <ul id="homeTabs" class="nav nav-pills">
    <li class="active"><a href="#featured_container" data-toggle="tab" role="tab" id="featureTab"><%= t('hyrax.homepage.featured_works.tab_label') %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="featured_container" role="tabpanel" aria-labelledby="featureTab">
      <%= render 'featured_works' %>
    </div>
  </div>
</div><!-- /.col-xs-6 -->
