<!--<div class="facets">
  <div class="panel-group">
    <div class="top-panel-heading panel-heading">
      <h2 class="facets-heading"><%= t('homepage.collections_nav.course_collections') %></h2>
    </div>
    <div id="facet-panel-collapse" class="collapse panel-group">
    </div>
  </div>
</div> -->

<div class="panel-group">
  <div class="panel-heading">
    <h5 class="panel-title"><%= t('homepage.collections_nav.course_collections') %></h5>
  </div>
  <ul>
    
  </ul>
</div>

<div class="panel-group">
  <div class="panel-heading">
    <h5 class="panel-title"><%= t('homepage.collections_nav.personal_collections') %></h5>
  </div>
  <ul>

  </ul>
</div>
