<a data-turbolinks='false' href="/concern/images/<%= params[:id] %>"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
<%= render 'representative_media', presenter: @presenter, viewer: true %>
