# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e1da67e2e2ce9800d7445cb839c27a9ac677bca7521f01cadb9716d75ceffcfce23d377aeea5a3e741a52c3b2349f24406d61784916a6b22c3a07a5589f6269c

test:
  secret_key_base: 7f0c89448adf678e61e8e3368014925aed02975179a0be37b91a9cee0226f0fde6e19010163f8e47187726b560ef7bed2a6d7723b9509b135914fe0e51b9e79f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
