# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 2587324607eaeace6e44616ed90077357916024c7504fd2196e511cfc29dff863696d68991f90251bb994e5fe7d682d220d3c0c8b83e666c50c36d9d84717ed4

test:
  secret_key_base: fb0e5387401e0aef4cd1fcd1f622fc7f1be6c756ebc13dd81f699694aaa843428f481552749623b87fb9429f8ee362080a51cf79ed17d24562e1b4cc12e41531

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
