development:
  export_path: '/usr/local/hydra/mira-data/exports'
  ldap:
    name:
    email:
    active:
test:
  export_path: '/data/pdfs'
production:
  export_path: '/usr/local/hydra/mira-data/exports'
  ldap:
    name:
    email:
    active:
