<% # container for all documents in index view -%>
<% # @tufts - Sort the documents in gallery %>
<div id="documents" class="row gallery">
  <%= render_gallery_collection sort_works(documents) %>
</div>
