<% # @file - Add document ids to the gallery objects %>
<% draggable = request.env['PATH_INFO'] == "/catalog" ? ' draggable=true' : ''%>
<% not_draggable = request.env['PATH_INFO'] == "/catalog" ? {draggable:false} : {}%>
<div id="document_<%= document.id %>" class="document col-xs-6 col-md-3"<%= draggable %>>
  <div class="thumbnail">
    <%= render_thumbnail_tag(document, not_draggable, counter: document_counter_with_offset(document_counter)) %>
    <div class="caption">
      <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, document_counter: document_counter %>
    </div>
  </div>
</div>
