/* Contains the CSS for the Tufts-added features */

.show-collection-buttons {
  float: right;

  .tufts-action-button {
    display: inline-block;
  }
}

.search-results > div {
  height: 100vh;
  overflow: auto;
}

#collections-sidebar {
    .dd-item button {
      margin: 0;
    }

  ul ul {
    padding-left: 15px;
  }

  .panel-title {
    display: inline-block;
    margin-right: 1rem;
  }

  .dragging {
    border: 1px dashed #777;
    font-weight: bold;
    text-align: center;

    a {
      color: #000;
    }
  }

  .drag-hover {
    background: #286090;
    a {
      color: #fff;
    }
  }
}

.editor-warning {
  background-color: #286090;
  color: #FFF;
  padding: 1em 2em;
  font-weight: bold;
}

.margin-left {
  margin-left: 10px;
}

// 'remove' buttons on gallery view in collection dashboard
.gallery.dashboard {
  .thumbnail {
    position: relative;
  }

  .edit_collection {
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

// Placeholder when ordering subcollections
.subcollection-placeholder {
  border: 1px dashed #777;
  height: 22px;
}

// Dots in front of draggable subcollections
.collections-list.ui-sortable {
  list-style-type: none;
}
.ui-sortable-handle::before {
  content: '.. .. .. ..';
  float:left;
  margin-right: 0.75em;
  width: 10px;
  height: 20px;
  line-height: 5px;
  margin-top: -0.2em;
  cursor: move;

  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 0 1px black;
}
