/* Contains the CSS for the Tufts-added features */

.show-collection-buttons {
  float: right;

  .tufts-action-button {
    display: inline-block;
  }
}

.search-results > div {
  height: 100vh;
  overflow: auto;
}

#collections-sidebar {
    .dd-item button {
      margin: 0;
    }

  ul ul {
    padding-left: 15px;
  }

  .panel-title {
    display: inline-block;
    margin-right: 1rem;
  }

  .dragging {
    border: 1px dashed #777;
    font-weight: bold;
    text-align: center;

    a {
      color: #000;
    }
  }

  .drag-hover {
    background: #286090;
    a {
      color: #fff;
    }
  }
}

.editor-warning {
  background-color: #286090;
  color: #FFF;
  padding: 1em 2em;
  font-weight: bold;
}

.margin-left {
  margin-left: 10px;
}