/* Contains the CSS for the Tufts-added features */

.show-collection-buttons {
  float: right;

  .tufts-action-button {
    display: inline-block;
  }
}

#collections-sidebar {
  ul ul {
    padding-left: 15px;
  }

  .panel-title {
    display: inline-block;
    margin-right: 1rem;
  }
}

.editor-warning {
  background-color: #286090;
  color: #FFF;
  padding: 1em 2em;
  font-weight: bold;
}
