/* Contains all the overridden css by Tufts */

/* Fixes Masonry view in dashboard collection show view.
Remove after updating to Hyrax 3.0
https://github.com/samvera/hyrax/pull/3913/commits/d6d4ac7792522c6fabec4e1fbf3b894f48854c50
 */
#documents.gallery.public {
  margin: 5em 0 2em;
}

#collections-sidebar .dd-item button {
  margin: 0;
}

.featured-item img {
    width: 200px;
    float: left;
    padding-right: 1em;
}

.searchbar-right label {
  color: #000;
}

#facet-pub_date_facet_isim .btn-default {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4
}