<h2 class="sr-only"><%= t('hyrax.collection.actions.header') %></h2>
<div class="text-right">
  <% if can? :deposit, presenter.solr_document %>
    <div>
      <%= link_to t('hyrax.collection.actions.add_existing_works.label'),
                  hyrax.my_works_path(add_works_to_collection: presenter.id, add_works_to_collection_label: presenter.title),
                  title: t('hyrax.collection.actions.add_existing_works.desc'),
                  class: 'btn btn-link side-arrows' %>
    </div>
  <% end %>
</div>
